@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-soft-cream text-charcoal font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }
}